.product-card {
  border: 1px solid #ccc;
  padding: 16px;
  margin: 16px;
  border-radius: 8px;
  width: 300px;
  display: inline-block;
  text-align: center;
}

.product-card > .product-image > img {
  height: 250px;
  max-width: 100%;
}

button {
  width: 120px;
  height: 40px;
  margin: 5px;
}

button.add-to-cart {
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button.add-to-cart:hover {
  background-color: #218838;
}

button.buy-now {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button.buy-now:hover {
  background-color: #0069d9;
}
